################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs
/Library
/Logs
/ProjectSettings
/Packages
/obj/Debug
/Temp
/UserSettings
obj
bin
/Assets/node_modules
